table {
    border-collapse: collapse;
    width: 100%;
}

table table{
    border: hidden;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: left;
    width: auto;
}